.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app > .text-display {
  flex: 4;
  min-height: 0;
}

.app > .keyboard {
  flex: 6;
  min-height: 0;
}
